/* 全体 */
body {
  font-family: "Arial", "Meiryo", sans-serif;
  font-size: 20px;
  text-align: center;
  margin: 0;
  padding: 0;
  color: #333;
}

/* タイトル */
h1 {
    font-family: 'josefin Sans';
    letter-spacing: 1.2em;
    font-size: 200%;
    text-shadow: 1px 1px 2px gray;
    margin: 30px 0 40px;
    padding: 10px 0;
    /* border-top: 1px solid #aaa; */
    border-bottom: 3px solid rgb(115, 115, 114);
}

/* 色指定 */
.blue {
  color: skyblue;
}

.pink {
  color: rgb(255, 192, 203) ;
}

/* 基本情報ブロック */
#basic {
  margin-bottom: 30px;
}

/* 見出し */
h2 {
  font-size: 16px;
  margin: 20px 0 5px;
  font-weight: normal;
}

/* テキスト */
p {
  font-size: 14px;
  margin: 0 0 15px;
  line-height: 1.8;
}

.bold-font {
  font-weight: bold;
}