

#top {
    width: 800px;
    background: #dcc9f4;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#top .top-child {
    width: 20%;
    background: #ffd9df;
    display: inline-block;
}


#middle {
    width: 800px;
    height: 800px;
    margin-top: 20px;
    margin-bottom: 20px;
    background: #ffd9df;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#middle-child01, #middle-child02, #middle-child03 {
    width: 200px;
    height: 200px;
    background: #87ceeb;
    position: absolute;
}

#middle-child01 {
    top: 100px;
    left: 100px;
    /* margin-top: 100px; */
    /* margin-left: 100px; */
    /* padding-top: 100px; */
    /* padding-left: 100px; */
}

#middle-child02 {
    top: 300px;
    left: 300px;
}

#middle-child03 {
    top: 500px;
    left: 500px;
}


#bottom { 
    width: 800px;
    height: 300px;
    background: #87ceeb;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

#bottom-child01, #bottom-child02, #bottom-child03 {
    width: 400px;
    height: 100px;
    background: #e5dcf0;
}

#bottom-child01 {
    position: absolute;
}

#bottom-child02 {
    position: absolute;
    left: 200px;
    top: 100px;
}

#bottom-child03 {
    position: absolute;
    left: 400px;
    top: 200px;
}



